body {
	background-color: #dde5db;
	font-family: "Courier";
	font-size: 14pt;
}

body a {
	color: #105784;
}
body h1 {
	margin-top: 0;
	padding-top: 0;
}

hgroup h1 {
	margin-bottom: 0;
	padding-bottom: 0;
}

hgroup h2 {
	margin-top: 0;
	padding-top: 0;
}

textarea {
	background-color: #e6e8e6;
	color: #000;
	font-family: Courier;
	width: 80%;
	min-height: 100px;
	font-size: 12pt;
}


table {
/*	border-collapse: collapse;*/
	padding: 0;
	font-family: 'Helvetica Neue';
}

table tr {
	margin-bottom: 10px;
}

table td {
	background-color: #d1d9d0;
}
table td, table th {
	vertical-align: top;
	padding: .2em .6em;
	margin: 0;
/*	border-collapse: collapse;*/
}

table td th {
	padding-left: 0;
	padding-right: 0;
	font-weight: bold;
}

table td th:after {
	content: ':';
}

table tr th {
	background-color: #afbdab;
	text-align: left;
	font-weight: normal;
}

table tr td th {
	background-color: transparent;
}

#ie9up {
	display: none;
}

.lt-ie9 #ie9up {
	display: block;
	width: 100%;
	padding-left: .4em;
	height: 24px;
	line-height: 24px;
	background-color: #444;
	color: #fff;
	box-sizing: border-box;
}

#moreinfo_link {
	color: inherit;
	text-decoration: underline;
	font-size: .6em;
	cursor: pointer;
}

#moreinfo {
	display: none;
	max-width: 800px;
	margin-bottom: 1em;
}